<launch>

  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bioloid_typea_description)/typea.xacro'" />

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
  </include>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find bioloid_typea_description)/typea.urdf -urdf -model typea -z 0.23" />

  <node name="dummy_imu_frame_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom imu_link 1000"/>

  <include file="$(find ros_control_boilerplate)/bioloid_control/launch/bioloid_simulation.launch"/>

  <node name="typea_walker" pkg="bioloid_typea_gazebo" type="walker.py" output="screen"/>

</launch>
